body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
    font-size: 14px;
  }
  
    @import url(http://weloveiconfonts.com/api/?family=fontawesome);
    
    /* ---------- FONTAWESOME ---------- */
    
    [class*="fontawesome-"]:before {
      font-family: 'FontAwesome', sans-serif;
    } 
    
    div {
      padding-bottom: 20px;
    }
  
    a {
      color:brown;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
      color: #2b2ff0;
    }
    
    input {
      border: none;
    }
    
    .login{
      position: fixed;
      width: 300px;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    
    .login form span {
      background-color: #3a3641;
      border-radius: 3px 0px 0px 3px;
      color: #606468;
      display: block;
      float: left;
      height: 40px;
      line-height: 40px;
      text-align: center;
      width: 50px;
    }

    .login form input {
      height: 40px;
      outline:none;
    }
    
    .login form input[type="text"], input[type="password"] {
      background-color: #3b4149;
      border-radius: 0px 3px 3px 0px;
      color: darkgray;
      margin-bottom: 20px;
      padding: 0 16px;
      width: 218px;
    }
    
    .login form input:focus {
      color:#fff;
    }
    
    .login form input[type="submit"] {
      border-radius: 3px;
      background-color: #2b2ff0;
      color: #eee;
      font-weight: bold;
      margin-bottom: 20px;
      cursor:pointer;
      width: 100%;
    }
    
    .login form input[type="submit"]:hover {
      background-color: brown;
    }

    .button {
        border-radius: 3px;
        background-color: #2b2ff0;
        color: #eee;
        font-weight: bold;
        cursor:pointer;
        width: 100%;
        padding: 10px;
    }

      .button:hover {
        background-color: brown;
    }

    .alert{
        position: fixed;
        border-radius: 5px 5px 5px 5px;
        background-color:lightslategray;
        width: 300px;
        left: 50%;
        top: 20%;
        transform: translate(-50%,-50%);
        padding: 20px;
      }
